# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.env
/velvet_iron-attachments (1)
/extracted_expedition_pack.txt
/client_text2.txt
/client_text.txt
/BACKEND_COMPANION_QUOTES_NOTICE.md
/BACKEND_MILESTONE3_AND_EXPEDITION_SPEC.md
/BACKEND_REQUIREMENTS_V1.md
/REMAINING_WORK_AND_BACKEND_ALIGNMENT_GUIDE.md
/RESTORE_WELCOME_CARD_INSTRUCTIONS.md
/STEP_TRACKING_WORKFLOW.md
/Velvet_and_Iron_Character_Quote_Packs.docx
/WATER_TRACKING_WORKFLOW.md
/velvet_iron-attachments
/COMPANION_QUOTE_PACKS_SPECIFICATION.md
.gitignore
